
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor
                    type="Sitecore.Feature.NotFoundPage.NotFoundProcessor, Sitecore.Feature.NotFoundPage"
                    patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
                </processor>
            </httpRequestBegin>
        </pipelines>
    </sitecore>
</configuration>