<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
			
       <!-- <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" />-->
        <configuration name="Feature.Search">
          <targetDataStore physicalRootPath="D:\projects\TAC\src\Feature\Sitecore.Feature.Search\serialization" />
					<predicate>
            <include name="templates" database="master" path="/sitecore/templates/Feature/Search" />
            <include name="renderings" database="master" path="/sitecore/layout/renderings/Feature/Search" />
					</predicate>

					
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
