<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultEventsIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedTemplate">
              
              <!--Include templates in the index-->
              <EventDetails>{7C3584C1-C656-45E1-9CC7-CC8120E00781}</EventDetails>
              
            </include>
            <include hint="list:AddIncludedField">
            
              <!--Include fields in the index-->
              <contentheading>{32F29228-C424-4932-AC0C-F889DC5C7231}</contentheading>
              <contentintro>{0D0A6AF0-DB45-48B8-A0FD-512BA8CEC06B}</contentintro>
              <startdate>{FB13B88E-FC0A-4130-A18C-07345CD3C9FF}</startdate>
              <duration>{9D755CDE-8442-46AE-81A0-F2EE99C459F8}</duration>
              <difficultylevel>{CF439A81-01B4-4049-8A16-2A0809C61A10}</difficultylevel>

            </include>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="computedcontentlength" returnType="integer">
                Sitecore.Feature.Search.ComputedContentLength, Sitecore.Feature.Search
              </field>
            </fields>
          </documentOptions>
          <initializeOnAdd>false</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <!--<typeMatches hint="raw:AddTypeMatch" ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap/typeMatches/*"/>-->
            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetime" type="System.DateTime" fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="string" type="System.String" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="integer" type="System.Integer" fieldNameFormat="{0}_i" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- how fields are indexed -->

              <!-- Add your field configuration here -->
              <field fieldName="contentheading" returnType="text"/>
              <field fieldName="contentintro" returnType="text"/>
              <field fieldName="startdate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'"/>
              <field fieldName="duration" returnType="integer"/>
              <field fieldName="difficultylevel" returnType="integer"/>
            
            </fieldNames>
            
          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

        </defaultEventsIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>