@using TAC.Utils.Helpers

<div class="navbar-right">
    <div class="navbar-activity">
        <nav class="navbar navbar-light bg-light">
            <div class="form-inline">
                @using (Html.BeginForm())
                {
                    @Html.FormHandler()
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.Message">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                }
            </div>
        </nav>
    </div>
</div>
