@using Sitecore.Feature.Language.Models;
@model Sitecore.Feature.Language.Models.LanguageSelector

<!-- [Language Navigation] -->
<div class="navbar-right">
    <div class="navbar-activity">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe"></i>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var language in Model.SupportedLanguages)
                    {
                        <li class="@(Model.ActiveLanguage.Name == language.Name ? "active" : string.Empty)"><a href="@language.Url">@language.Name</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- [/Language Navigation] -->
